@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

body {
	background-color:black !important;
	font-family: 'Open Sans Condensed', sans-serif !important;
}
.chat-header {
	display:none !important;
}

/* Thanks malc for the fixes to how the chat-interface looks*/
.chat-interface {
	font-size: 2rem !important;
	background: black;
}
.chatters .chat-header {
	display:block !important;
}

select.form__input,
textarea.form__input,
.form__input[type=text],
.form__input[type=email],
.form__input[type=password],
.form__input[type=search],
.chat-interface,
.chat-interface__submit {
	font-size: 2.4rem !important;
}

.hide-chat-interface .chat-interface {
	display:none !important;
}

.hide-chat-interface .chat-messages {
	bottom:0px !important;
}

.tse-content.reverse{
	height:100%;
	overflow-y:scroll !important;
}

.chat-display-without-interface {
	height: 100% !important;
}

.chat-room{
	top:0px !important;
	background-color:black !important;
}
.chat-lines {
	background-color:black !important;
	color:#eee;
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
	padding-top:0 !important;
}
.reverse .chat-lines {
    flex-direction: column-reverse;
}
.chat-lines li {
}
.chat-lines li.odd{
	background-color:#111 !important;
}
.chat-messages .chat-line {
	padding:3px 1px 3px 1px !important;
	margin-top:2px !important;
	font-size:32px !important;
	line-height:35px !important;
	border-bottom:#444 solid 1px !important;
}
.chat-lines .chat-clip {
	background-color: #333 !important;
}
.chat-lines .chat-chip .card__title {
	display: inline;
	font-size: 32px !important;
	line-height: 35px !important;
	color: white;
	font-weight: 300;
}
.chat-lines .chat-chip .card__info {
	display: inline;
	font-size: 32px !important;
	line-height: 35px !important;
	color: #afabbc;
}
.special-message {
    background-color: inherit !important;
}
.system-msg {
    background-color: inherit !important;
}

.tse-scrollbar {
	display:none !important;
}
.mod-icon {
	display:none !important;
}
.badges {
	display:none !important;
}
img {
    max-width:100%;
    max-height:50vh;
}
.chat-messages .whisper-line.whisper-incoming {
    background-color:#3b010e !important;
}
a {
	color:inherit !important;
}
.from {
	color:green !important;
}
.message {
    color:white !important;
    font-weight:300 !important;
}

.deleted {
	opacity:0.2;
}
.mentioned {
	color: inherit;
    background-color: inherit;
}

::-webkit-scrollbar {
    display: none;
}

#settings-wheel {
	position: absolute;
	right: 5px;
	top: 5px;
	color: rgba(255,255,255,0.3);
	cursor:pointer;
	z-index: 50;
}
#settings-wheel:hover {
	color: rgba(255,255,255,1);
}

.sticky-message {
	display:none !important;
}
.chat-messages {
	top:0px !important;
}
#hide {
	z-index: 99;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding-top: 200px;
    display: none;
}
