.chat-lines li[data-badges*="Moderator"] .from {
    color: #8383f9 !important;
}
.chat-lines li[data-badges*="Broadcaster"] {
    background-color: #000090 !important;
}
.chat-lines li[data-badges*="Broadcaster"] .from {
    color: #00b5e0 !important;
}
.chat-lines li[data-user="LRRbot"] .from {
	color:purple !important;
}
.chat-lines li[data-user="LRRbot"][data-message*="thanks for"]{
	background-color:purple !important;
}
.chat-lines li[data-user="LRRbot"][data-message*="thanks for"] .from{
	color:black !important;
}
.chat-lines li[data-message*="loadingreadyrun"] {
    background-color: #00005d !important;
}