@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@keyframes expand {
	from { max-height: 0; }
	/*
	Anything above 400 pixels in height will pop in after the animation, otherwise images will take a long time loading.
	Could also be set at a value like 2000px, but then the animation time has to be multiplied by 5 as well.
	*/
	to { max-height: 400px; }
}

body {
	background-color:black !important;
	font-family: 'Open Sans Condensed', sans-serif !important;
}
.chat-header {
	display:none !important;
}

/* Thanks malc for the fixes to how the chat-interface looks*/
.chat-interface {
	font-size: 2rem !important;
	background: black;
}
.chatters .chat-header {
	display:block !important;
}

.hide-chat-interface .chat-interface {
	display:none !important;
}

.hide-chat-interface .chat-messages {
	bottom:0px !important;
}

.tse-content.reverse{
	height:100%;
	overflow-y:scroll !important;
}

.chat-display-without-interface {
	height: 100% !important;
}

.chat-room {
	top:0px !important;
	background-color:black !important;
}
.chat-lines {
	background-color:black !important;
	color:#eee;
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
	padding-top:0 !important;
}
.reverse .chat-lines {
    flex-direction: column-reverse;
}
.chat-lines li {
}
.chat-lines li.odd {
	background-color:#1a1a1a !important;
}
.chat-messages .chat-line {
	padding:4px !important;
	margin-top:2px !important;
	font-size:20px !important;
	line-height:24px !important;
	border-bottom:#444 solid 1px !important;
	overflow:hidden;
	display:flex;
	flex-direction:column-reverse; /* Makes the text stick to the bottom of the container so it visually slides in better */
}
.special-message {
    background-color: inherit !important;
}
.system-msg {
    background-color: inherit !important;
}

.tse-scrollbar {
	display:none !important;
}
img {
    max-width:100%;
    max-height:50vh;
}
.chat-messages .whisper-line.whisper-incoming {
    background-color:#3b010e !important;
}
a {
	color:inherit !important;
}
.message {
    color:white !important;
    font-weight:300 !important;
}

.deleted {
	opacity:0.2;
}
.mentioned {
	color: inherit;
    background-color: inherit;
}

::-webkit-scrollbar {
    display: none;
}

#settings-wheel {
	position: absolute;
	right: 5px;
	top: 5px;
	color: rgba(255,255,255,0.3);
	cursor:pointer;
	z-index: 50;
	cursor: pointer;
}
#settings-wheel:hover {
	color: rgba(255,255,255,1);
}

.sticky-message {
	display:none !important;
}
.chat-messages {
	top:0px !important;
}

.alignusernames-parent {
    position: relative;
    padding-left: 208px;
}

.alignusernames-container {
    position: absolute;
    top: 0; left: 0;
    width: 200px;
    text-align: right;
    overflow: hidden;
}

.alignusernames-container > .badges {
    position: relative;
    top: 2px;
}
