@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
body {
	background-color:black !important;
	font-family: 'Open Sans Condensed', sans-serif !important;
}
.chat-header {
	display:none !important;
}
.chat-interface{
	display:none !important;
}
.chat-messages {
	bottom:0px !important;
}
.tse-content.reverse{
	height:100%;
	overflow-y:scroll !important;
}
.chat-display {
	height:100%;
}
.chat-room{
	top:0px !important;
	background-color:black !important;
}
.chat-lines {
	background-color:black !important;
	color:#eee;
	display: flex;
    flex-direction: column;
	justify-content:flex-start;
}
.reverse .chat-lines {
    flex-direction: column-reverse;
}
.chat-lines li {
}
.chat-lines li.odd{
	background-color:#111 !important;
	border-top:#444 solid 1px !important;
	border-bottom:#444 solid 1px !important;
}
.chat-messages .chat-line {
    padding:6px 1px !important;
		font-size:32px !important;
	line-height:35px !important;
}
.tse-scrollbar {
	display:none !important;
}
.mod-icon {
	display:none !important;
}
.badges {
	display:none !important;
}
img {
    max-width:100%;
}
.chat-messages .whisper-line.whisper-incoming {
    background-color:#3b010e !important;
}
a {
	color:inherit !important;
}
.from {
	color:green !important;
}
.message {
    color:white !important;
    font-weight:300 !important;
}

.deleted {
	opacity:0.2;
}
.mentioned {
	color: inherit;
    background-color: inherit;
}

::-webkit-scrollbar {
    display: none;
}

#settings-wheel {
	position: absolute;
	right: 25px;
	top: 25px;
	width: 50px;
	height: 50px;
	color: white;
	background:  white;
	border: white 1px solid;
	z-index: 50;
}
